<%-include("header")%>
<body>
    <div class="listTitle">
        <h1 class="dayInfo"><%=kindOfDay%></h1>
    </div>
    <div class="list">
        <ul>
        
                <% for(var i=0;i<newlistItem.length;i++){%>
                <div class="eachItem">
                    <form action="/delete" method="post">
                    <input type="checkbox" onchange="this.form.submit()" name ="checkbox" value="<%=newlistItem[i]._id%>">
                    <span class="item"><%=newlistItem[i].name%></span>
                    </form>
                </div>
                <% } %>
        </ul>
    </div>
        <form action="/" method="post">
            <div class="list"><input name="name" type="name" placeholder="Add Item to The List"></div>
        </form>
    </div>
</body>
<%-include("footer")%>